---
- name: Create work directory
  ansible.builtin.file:
    path: "{{ work_dir }}/{{ rosa_cluster_name }}/terraform/"
    state: directory
    mode: '0755'

- name: Create s3 bucket to store state
  environment:
    AWS_DEFAULT_PROFILE: rosa
  amazon.cloud.s3_bucket:
    bucket_name:  "{{ rosa_cluster_name }}-terraform"
    state: present

- name: Copy terraform module to work_dir
  ansible.builtin.copy:
    src: files/terraform/
    remote_src: false
    dest: "{{ work_dir }}/{{ rosa_cluster_name }}/terraform/"

- name: Copy terraform files to work_dir
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ work_dir }}/{{ rosa_cluster_name }}/terraform/{{ item }}"
  with_items:
    - terraform.tfvars.json
    - data.tf

- name: "Create ROSA cluster: {{ rosa_cluster_name }}"
  environment:
    TF_BACKEND_BUCKET: "{{ rosa_cluster_name }}-terraform"
    AWS_DEFAULT_PROFILE: rosa
    TF_LOG: debug
    TF_LOG_PATH: /var/tmp/hub/tf.log
  ansible.builtin.shell:
    cmd: |
      cd "{{ work_dir }}/{{ rosa_cluster_name }}/terraform"
      terraform init
      terraform apply -auto-approve
  async: 7200
  poll: 0
  register: create_cluster

- name: "Wait for cluster to be created"
  ansible.builtin.async_status:
    jid: "{{ create_cluster.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 240
  delay: 30