# This playbook will be used by Ansible Automation Platform to deploy a `spoke` ROSA instance
- name: Run preflight checks
  vars:
    rosa_cluster_name: "{{ rosa_spoke_cluster_name }}"
    rosa_subnets: "{{ rosa_spoke_subnets }}"
  ansible.builtin.import_playbook: rh.rosa.preflight_spoke

- name: Deploy a spoke ROSA instance
  hosts: localhost
  become: false
  gather_facts: false
  vars:
    aws_account_id: "{{ aws_spoke_account_id }}"
    aws_access_key_id: "{{ aws_spoke_access_key_id }}"
    aws_secret_access_key: "{{ aws_spoke_secret_access_key }}"
    rosa_vpc_name: "{{ rosa_spoke_vpc_name }}"
    rosa_cluster_name: "{{ rosa_spoke_cluster_name }}"
    rosa_vpc_cidr: "{{ rosa_spoke_vpc_cidr }}"
    rosa_worker_nodes: "{{ rosa_spoke_worker_nodes }}"
    rosa_worker_instance_type: "{{ rosa_spoke_worker_instance_type }}"
    rosa_subnets: "{{ rosa_spoke_subnets }}"
  tasks:
    - name: Deploy ROSA
      ansible.builtin.import_role:
        name: rh.rosa.create
    - name: Bootstrap spoke
      ansible.builtin.import_role:
        name: rh.rosa.bootstrap_spoke
      delegate_to: bastion